<footer class="bg-footer_bg opacity-90 bg-no-repeat bg-center" style="background-image: url(assets/images/footer-map-pattern.png)">
    <div class="auto-container">
        <div class="my-12 flex flex-wrap">
            <div class="w-full md:w-1/2">
                <div class="flex flex-col items-center justify-content-center gap-4">
                    <div class="footer-logo">
                        <a href="index" aria-label="Agaram index"><img class="lazy_img" src="https://s1.agaram.in/img/lazy/dlogo.png" data-jpg="https://s1.agaram.in/img/agaram_135.png" data-webp="https://s1.agaram.in/img/webp-img/agaram_135.webp" alt="Agaram Logo"></a>
                    </div>
                    <div class="footer-nav">
                        <a href="donate"  class="no-underline"><span class="font-caveat text-theme_color text-4xl"> #change<i class="text-white">a</i>life</span></a>
                    </div>
                    <div class="social-nav">
                        <ul class="nav gap-2">
                            <li class="nav-item facebook bg-[#3b5998] rounded-full"><a class="nav-link font-bold text-white" href="https://www.facebook.com/agaramfoundation/" target="_blank" aria-label="Agaram facebook" rel="noopener"><span class="fab fa-facebook-f"></span></a></li>
                            <li class="nav-item instagram bg-[#e1306c] rounded-full"><a class="nav-link " href="https://www.instagram.com/agaram_foundation_official/" target="_blank" aria-label="Agaram instagram" rel="noopener"><span class="fab fa-instagram"></span></a></li>
                            <li class="nav-item skype bg-[#00aff0] rounded-full"><a class="nav-link " href="#" target="_blank" aria-label="Agaram skype" rel="noopener"><span class="fab fa-skype"></span></a></li>
                            <li class="nav-item twitter bg-[#1da1f2] rounded-full"><a class="nav-link " href="https://twitter.com/agaramvision" target="_blank" aria-label="Agaram twitter" rel="noopener"><span class="fab fa-x-twitter"></span></a></li>
                            <li class="nav-item linkedin bg-[#0077b5] rounded-full"><a class="nav-link " href="https://www.linkedin.com/company/agaram-foundation" target="_blank" aria-label="Agaram linkedin" rel="noopener"><span class="fab fa-linkedin-in"></span></a></li>		
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div class="contacts">
                    <h2 class="!pb-5 text-white relative before:absolute before:left-12 before:bottom-5 before:h-0.5 before:w-28 before:-ml-[22px] before:bg-white before:content-[''] before:!bottom-0">Contact Us</h2>
                    <ul class="list-style-one p-0">
                        <li class="mb-2 flex items-center gap-2 text-white"><span class="icon fas fa-map-marker-alt text-theme_color"></span>15, Krishna street, T.Nagar, Chennai - 600 017</li>
                        <li class="mb-2 flex items-center gap-2 text-white"><span class="icon fas fa-phone text-theme_color"></span>Support: <a href="tel:+91 98418 91000" class="no-underline text-white">+91 98418 91000</a></li>
                        <li class="mb-2 flex items-center gap-2 text-white"><span class="icon fas fa-envelope-open text-theme_color"></span>Email: <a href="mailto:info@agaram.in" class="no-underline text-white">infoin</a></li>
                    </ul>
                </div>
                <div class="emailed-form">
                    <form method="post" id="newsLetter" autocomplete="off" onsubmit="if (!window.__cfRLUnblockHandlers) return false; return newsLetter()" siq_id="autopick_168">
                        <div class="form-group">
                            <input class="input" type="email" name="email" value="" placeholder="Enter Email" required="" aria-label="email">
                            <button type="submit" class="theme-btn">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-copyright bg-footer_bg opacity-90">
	<div class="auto-container">
		<div class="flex flex-wrap">
			<div class="w-full md:w-1/2">
				<div class="!float-left">
					<div class="copyright !text-text-gray">2024<a href="index" class="no-underline text-white">Agaram.</a> All rights reserved. Powered By <a href="https://www.gyso.in/" class="no-underline text-white">Gyso.</a></div>
				</div>
			</div>
			<div class="w-full md:w-1/2">
				<div class="!float-right">
					<ul class="nav">
						<li class="nav-item"><a class="nav-link !text-text-gray" href="privacy_policy">Privacy Policy</a></li>
						<li class="nav-item"><a class="nav-link !text-text-gray" href="contact">Contact Us</a></li>
						<li class="nav-item"><a class="nav-link !text-text-gray" href="terms_of_use">Terms of Use</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>