<div class="">
  <div class="auto-container">
    <div class="title-column my-4">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="text-center text-xl leading-10 py-3">
      Below are some frequently asked questions and answers about our products. If you need specific
      <br> help or your question isn’t answered here, you should head to our forums. You can also read <br>
      our <a href="/" class="text-theme_color no-underline font-bold">Terms of Service</a> and <a href="/" class="text-theme_color no-underline font-bold">Support Policy</a> here.
    </div>
      
    <div class="accordion space-y-4 py-3">
      <h4 class="text-heading_color font-normal">Programs</h4>
      <hr>
      <div *ngFor="let item of accordionItems; let i = index" class="">
        <div
          [ngClass]="{'!bg-[#333] text-white': openIndex === i}"
          class="accordion-header cursor-pointer p-3 bg-accordion-bg text-black flex justify-content-between items-center"
          (click)="toggle(i)"
        >
          <h2 class="text-xl mb-0">{{ item.title }}</h2>
          <i *ngIf="openIndex !== i" class="fa fa-angle-down  p-2 text-black" aria-hidden="true"></i>
          <i *ngIf="openIndex === i" class="fa fa-angle-up p-2 text-white" aria-hidden="true"></i>
        </div>
        <div
          class="accordion-body transition-all duration-500 overflow-hidden"
          [ngClass]="{'max-h-0 p-0': openIndex !== i, 'border-1 max-h-fit p-4': openIndex === i}"
        >
        <p class="text-gray-700 mb-0">{{ item.content }}</p>
        </div>
     </div>
    </div>
  </div>
</div>

<div class="auto-container">
  <h2 class="text-center"><span class="text-theme_color capitalize">Tell Us Any </span> Question</h2>
  <div class="py-5">
    <form>
      <div class="row">
        <div class="col-lg-6 flex flex-col justify-content-between">
          <div class="col-lg-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Username">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email Address">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Subject">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <textarea type="text" class="form-control h-60" placeholder="Message"></textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="text-center my-4">
      <button class="px-3 py-2 bg-theme_color rounded-3xl text-white">Send Now</button>
    </div>
  </div>
</div>